<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Sylar</title>
  <script src="/bower_components/moment/moment.js"></script>
</head>
<body style="
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(226, 240, 17, 0.13);
">

<li> 页面已迁移至: <a href="http://sylarcao.github.io/sylar/sylarCV.html" style=" font-style: italic; " target="_blank" class="external">http://sylarcao.github.io/sylar/sylarCV.html </a></li>

</body>







